body{
  background-image: url(imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: cover;
}

header{
  padding: 20px;
}

.caja{
  width: 120px;
  position: relative
}

.titulo-ahorcado{
  text-align: center;
  margin-left: 550px;
  color: rgb(172, 194, 104);
  font-family: 'Inter', sans-serif;
  font-style: bold;
  font-weight: 600;
  font-size: 32px;
  padding-top: 10px;
}

.logo{
  width: 100%;
  float: left;
}
.logoImg{
margin: 40px 0px 0px 84px;
float: inherit;
}

main{
  height:600px;
}

footer{
  text-align: center;
}

.copyright{
  color: #F3F5FC;
  font-size: 18px;
  margin-left: 10%;
  margin-top: 20px;
  
}

.linkedin,.github{
  height: 50px;
  width: auto;
}

nav{
  position: absolute;
  top: 88%;
  right: 0;
}
nav li{
  display: inline;
  margin: 0 0 0 15px;
  
}
nav a>img:hover{
  transform: scale(1.2);
  transition: 0.1s;
}
/* juego del ahorcado */
.Ahorcado{
  width: 1440px;
  height: 1024px;
  position: relative;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background: #F3F5FC;
  text-align: center;
}

/* botones home */
.botones-home{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}
.btn-iniciar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  position: absolute;
  width: 307px;
  height: 110px;
  margin: 280px 562px 580px 500px;
  
  
  background: #6c0980;
  border-radius: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;

/* White */
  color: #F3F5FC;
}
.btn-agregar-palabra{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  position: absolute;
  width: 280px;
  height: 67px;
  margin: 426px 581px 403px 514px;
 
  border: 1px solid #c806a4;
  box-sizing: border-box;
  background: #c806a4;
  border-radius: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  color: #F3F5FC;
}
/* botones agregar y cancelar */
.aparece-agregar{
  position: absolute;
}
.campo-texto {
  /* Digite su texto */
  position: absolute;
  width: 600px;
  height: auto;

  font-family: 'Inter' sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  margin: 166px 0 0 376px;
 
  resize: none;

  color: rgb(172, 194, 104);
  background: transparent;
  border: none;
  text-transform:uppercase;
}
::placeholder {
  color: rgb(172, 194, 104); text-transform:lowercase;
}
.campo-texto:focus { 
      border: none;
      outline: none;
}

.simbolo{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.mensaje-letras{
  flex-direction: row;
  position: static;
  width: 184px;
  height: 18px;
  left: 24px;
  top: 0px;
  padding-left: 25px;
  font-weight: 600;
  
  font-family: 'Inter';
  font-style: normal;
  font-size:18px;
  line-height: 100%;
  color: #F3F5FC;
 }

.mensaje-advertencia{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  
  position: absolute;
  width: auto;
  height: 18px;
  margin: 550px 738px 339px 376px;
 }

.botones-para-agregar-palabra{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  
  position: absolute;
  width: auto;
  height: 67px;
  margin: 450px 376px 0px 376px;
 }

.guardar-empezar{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;

  position: static;
  width: 328px;
  height: 67px;

  background: #6c0980;
  border-radius: 24px;

  flex: none;
  order: 0;
  flex-grow: 0;
 
  margin-right: 12px;
  flex-grow: 0;
  color: #F3F5FC;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 19px;
  justify-content: center; 
}

.cancelar{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  position: static;
  width: 328px;
  height: 67px;
  background: #c806a4;
  border: 1px solid #0A3871;
  box-sizing: border-box;
  border-radius: 24px;

  flex: none;
  order: 1;
  flex-grow: 0;

  margin-left: 12px;
  color: #F3F5FC;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 19px;
  justify-content: center;
}
/* canvas */
.canvas{
  width: 100%;
  height:50%;
  display: inline-block;
}

.subrayado{
  display:flex;

  margin: 10px 150px 150px 420px;
}
.botones-div-canvas{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  

  position: absolute;
  width: auto;
  height: 7px;
  margin: 200px 380px 0px 20px;
 }
 .btn-nuevo-juego{
  margin-bottom: 50px;
  padding: 24px;

  position: static;
  width: 328px;
  height: 67px;
  margin-right: 12px;

  background: #6c0980;
  border-radius: 24px;

  flex: none;
  order: 0;
  flex-grow: 0;

  flex-grow: 0;
  color: #F3F5FC;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 19px;
  justify-content: center; 

}
.btn-desistir{
  
  padding: 24px;

  position: static;
  width: 328px;
  height: 67px;


  background: #c806a4;

  border: 1px solid #0A3871;
  box-sizing: border-box;
  border-radius: 24px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;

  color: #F3F5FC;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 19px;
  justify-content: center;
}

.title {
  float: inherit;
  margin: 20px auto;
  margin-inline-start: 30%;
  color: #87b1c1;
  font-size: 36px;
  position: relative;
}
.title:after {
content: attr(data-text);
position: absolute;
left: 0px;
text-shadow: -1px 0 red;
top: 0;
overflow: hidden;
clip: rect(0, 900px, 0, 0);
animation: noise-anim 2s infinite linear alternate-reverse;
}

.title:before {
content: attr(data-text);
position: absolute;
left: -4px;
text-shadow: 1px 0 blue;
top: 0;
overflow: hidden;
clip: rect(0, 900px, 0, 0);
animation: noise-anim-2 3s infinite linear alternate-reverse;
}

/* estilizando */
.btn-iniciar:hover, .btn-agregar-palabra:hover,
.guardar-empezar:hover, .cancelar:hover, .btn-nuevo-juego:hover,
.btn-desistir:hover{
  transform: scale(1.2);
  transition: 0.1s;
}
.btn-iniciar, .btn-agregar-palabra,.guardar-empezar, .cancelar, .btn-nuevo-juego, .btn-desistir{
  font-weight: 500;
  border: 2px solid;
  border-color: #318aac;
}
.btn-iniciar:hover, .btn-agregar-palabra:hover,.guardar-empezar:hover, .cancelar:hover, .btn-nuevo-juego:hover, .btn-desistir:hover{
  box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
  transition: all 0.2s ease;
  cursor: pointer;
}
